# ---------- Python

*.swp
*.pyc
*.egg
*.egg-info
*.dist-info
*#
.#*
.coverage
.project
.pydevproject
.settings/
.DS_Store

# Pycharm
.idea/

# log, pid, etc..
logs/
run/
*.log

# ------------ Node JS

# Runtime data
pids
*.pid
*.seed

# Grunt storage
*.grunt

# Compiled binary addons
*build/Release

*/node_modules
*/bower_components