extends ../layout

block content
  h1= title
  
  // search filter
  include ../partials/filter_list.jade

  // action list
  include ../partials/action_list.jade

  table.table.table-hover(ng-controller="restaurantListCtrl as restListCtrl")
    thead
      tr
        th ID
        th Name
        th Address
        th Tags
        th Menus

    tbody
      tr(ng-repeat="restaurant in restaurants | filter:search:strict")
        td
          a(href="#") {{ restaurant.id }}
        td {{ restaurant.name }}
        td {{ restaurant.address }}
        td
          span.label.label-info(ng-repeat="tag in restaurant.tags") {{ tag }}
        td
          a(href="#") {{ restaurant.menus.length }}
