script(type='text/javascript', src='/javascripts/angular.min.js')
script(type='text/javascript', src='//code.jquery.com/jquery-2.1.3.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')