doctype html
html(ng-app="snakebite-ui")
  head
    title= title
    include ./partials/base_head.jade
  body
    include ./partials/base_navbar.jade
    #content.container
      .row
        // sidebar
        .col-md-2.col-sm-3
          ul.nav.nav-pills.nav-stacked
            li
              a(href="/restaurants") Restaurants

        // main content
        .col-md-10.col-sm-9
          block content
    include ./partials/base_scripts.jade
    block extra_scripts